.header{
  display: flex;
  flex-direction: column;
  box-shadow: 3px 5px 7px rgba(0,0,0,0.16);
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  box-sizing: border-box;
  padding-top: 20px;
  .header__logo{
    max-height: 100px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
    img{
      max-width: 100%;
      max-height: 100px;
      height: 100%;
    }
  }
  #header__menu{
    padding: 5px;
    border-top: 1px solid rgba(0,0,0,0.16);
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .header__mobile-hamburger{
      width: 100%;
    }
    a{
      margin: 5px  10px;
      font-size: 15px;
    }
    .header__kapat{
      display: none;
    }
  }
}